/MenuController.class
/ItemController.class
/HospedagemController.class
/AcomodacaoController.class
/CatalogoController.class
/AcomocadaoController.class
/TipoAcomodacaoController.class
/HospedeController.class
